:root {
  --main-color: 202124;
  --background-color: #fafaf8;
  --headerAndFooter-color: #6b6d7085;
  --border-color: #6b6d70;
  --hover-color: #6c8ead;
  --text-color: #202124;
}
* {
  box-sizing: border-box;
  margin: 0px;
}

.container {
  display: grid;
  background-color: var(--background-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  @media (width>= 1024px) {
    .container {
      grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }
    nav {
      padding-block: 1rem;
      border-radius: 20px;
      font-size: 1.2rem;
    }

    nav a {
      padding: 1rem;
    }
    .introtext {
      margin: 20%;
      margin-block: 9%;
      font-size: 1.2rem;
    }
    header {
      padding-top: 20px;
    }
  }

  @media (max-width: 1024px) {
    .container {
      grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }
    nav {
      padding-block: 0.7rem;
      border-radius: 20px;
      font-size: 1.2rem;
    }

    nav a {
      padding: 1rem;
    }
    .introtext {
      margin: 10%;
      font-size: 1.1rem;
    }
  }

  @media (max-width: 720px) {
    .container {
      grid-template-areas:
        "header"
        "main"
        "footer";
    }
    nav {
      padding-block: 0.7rem;
      border-radius: 20px;
      font-size: 1rem;
    }

    nav a {
      padding: 0.7rem;
    }
    .introtext {
      margin-inline: 10%;
      margin-block: 20px;
      font-size: 1rem;
    }
  }
}
header {
  grid-area: header;
  padding-top: 11px;
}
nav {
  text-align: center;
  background-color: var(--headerAndFooter-color);
  border-radius: 20px;
  padding-block: 1rem;
  width: fit-content;
  margin-inline: auto;
  border: 2px solid var(--border-color);
  position: sticky;
}
nav ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
nav li {
  display: inline;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
}
#hoverleft:hover {
  background-color: var(--hover-color);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#hoverright:hover {
  background-color: var(--hover-color);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
nav a:hover {
  background-color: var(--hover-color);
}
nav a.active {
  text-shadow: 1px 0 var(--text-color);
}
.introtext {
  color: var(--text-color);
  grid-area: main;
  white-space: nowrap;
  display: flex;
}
