:root {
  --main-color: 202124;
  --background-color: #fafaf8;
  --headerAndFooter-color: #6b6d7040;
  --border-color: #6b6d70;
  --hover-color: #6c8ead;
  --text-color: #222b31;
}
* {
  box-sizing: border-box;
  margin: 0px;
}
.container {
  display: grid;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Georgia, "Times New Roman", Times, serif;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
  padding-top: 11px;
}

nav {
  text-align: center;
  background-color: var(--headerAndFooter-color);
  border-radius: 20px;
  padding-block: 1rem;
  width: fit-content;
  margin-inline: auto;
  border: 2px solid var(--border-color);
  box-shadow: 1px 1px var(--border-color);
}
nav ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
nav li {
  display: inline;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
}
#hoverleft:hover {
  background-color: var(--hover-color);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#hoverright:hover {
  background-color: var(--hover-color);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
nav a:hover {
  background-color: var(--hover-color);
}
nav a.active {
  text-shadow: 1px 0 var(--text-color);
}

main {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-color);
  grid-area: main;
}
.portrait {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: 2px solid black;
}
.intro {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}
.introtext {
  max-width: 500px;
  line-height: 2rem;
}
footer {
  grid-area: footer;
  background-color: var(--headerAndFooter-color);
  border-top: 2px solid var(--border-color);
}
.footerList {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    padding-block: 1rem;
    font-size: 1.2rem;
  }

  nav a {
    padding: 1rem;
  }
  header {
    padding-top: 15px;
  }
  .portrait {
    width: 250px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    padding-block: 0.7rem;
    font-size: 1rem;
  }

  nav a {
    padding: 0.7rem;
  }
  .portrait {
    width: 200px;
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  nav {
    padding-block: 0.5rem;
    font-size: 0.9rem;
  }

  nav a {
    padding: 0.5rem;
  }
  .portrait {
    width: 170px;
  }
  .intro {
    flex-direction: column;
  }
}
